html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    background-color: #1a1a1a;
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
}

h1 {
    font-size: 46px;
}

a {
    color: #ffffff;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    background-position-y: -0%;
    background-image: linear-gradient(180deg, transparent 50%, rgb(255, 255, 255) 50%) !important;
    transition: all 0.1s ease;
    background-size: 0px;
    background-size: auto 190%;
    padding: 3px 0;
    text-decoration: none;
    color: inherit;
}

a:hover{
    background-position-y: 100%;
    color: rgb(0, 0, 0);
    transition: all 0.1s ease;
    text-shadow: rgb(255, 255, 255) 0px 0px 0px;
}

a:active {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
  }

/*actually i have no idea where did i found this layout thing but it turned out kinda alright*/
.layout {
    width: 100%;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }